# Exercise 2 - Part 1
## Implementing 3 models for the association between a single SNP and a quantitative trait
### - Chosen phenotype: ```Infectious disease, immune function: H5N1 influenza A virus mortality rate 30 days after infection (Boon-Webby Trait 1) [% death]```
### - Chosen SNP: ```rs13476293```


####  Importing libraries

In [1]:
import pandas as pd
import seaborn as sns
from statsmodels.formula.api import ols
import statsmodels.api as sm
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats

#### Defining input and output paths

In [2]:
input_path = ('/Users/shanishalev/Library/CloudStorage'
              '/OneDrive-Personal/Documents - one drive/Biology TAU'
              '/Year no 03/semester B/personal_medicine_course/hw_2/data/')
output_path = ('/Users/shanishalev/Library/CloudStorage/OneDrive-Personal/'
               'Documents - one drive/Biology TAU/Year no 03/semester B/'
               'personal_medicine_course/hw_2/outputs/')

#### Reading the data
##### Genotypes

In [11]:
gen = pd.read_excel(input_path+'genotypes_1.xlsx')
gen.head()

,Locus,Chr_Build37,Build37_position,BXD1,BXD2,BXD5,BXD6,BXD8,BXD9,BXD11,...,BXD96,BXD97,BXD98,BXD99,BXD100,BXD101,BXD102,BXD103,check hetrozygoty,number of hetero
0,rs6269442,1,3482276,B,B,D,D,D,B,B,...,B,B,B,B,B,U,U,U,Contains H,6
1,rs6365999,1,4811063,B,B,D,D,D,B,B,...,B,B,B,B,B,U,U,U,Contains H,6
2,rs6376963,1,5008090,B,B,D,D,D,B,B,...,B,B,B,B,B,U,U,U,Contains H,6
3,rs3677817,1,5176059,B,B,D,D,D,B,B,...,B,B,B,B,B,U,U,U,Contains H,5
4,rs8236463,1,5579194,B,B,D,D,D,B,D,...,B,B,B,B,B,U,U,U,Contains H,5

##### Phenotypes

In [12]:
phen = pd.read_excel(input_path+'phenotypes_1.xlsx')
phen.head()

,index,Phenotype,Authors,Year,Pubmed Id,C57BL/6J,DBA/2J,BXD1,BXD2,BXD5,...,BXD95,BXD96,BXD97,BXD98,BXD99,BXD100,BXD101,BXD102,BXD103,count strains with values
0,NaN,Cerebellum weight [mg],"Airey DC, Lu L, Williams RW",2001.0,11438585.0,NaN,NaN,61.4,49.0,62.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34
1,NaN,"Central nervous system, morphology: Cerebellum...","Airey DC, Lu L, Williams RW",2001.0,11438585.0,NaN,NaN,54.1,50.1,53.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34
2,NaN,"Central nervous system, morphology: Brain weig...","Airey DC, Lu L, Williams RW",2001.0,11438585.0,NaN,NaN,483.0,403.0,501.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34
3,NaN,"Central nervous system, morphology: Cerebellum...","Airey DC, Lu L, Williams RW",2001.0,11438585.0,NaN,NaN,49.8,45.5,62.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31
4,NaN,"Central nervous system, morphology: Cerebellum...","Airey DC, Lu L, Williams RW",2001.0,11438585.0,NaN,NaN,46.0,44.9,52.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31

#### Defining the chosen phenotype and SNP

In [17]:
phen_name = phen.iloc[787, 1] #
SNP = gen.iloc[314, 0] # rs13476293
print(f'The chosen phonotype is: {phen_name}, \nThe chosen SNP is: {SNP}')

The chosen phonotype is: Infectious disease, immune function: H5N1 influenza A virus mortality rate 30 days after infection (Boon-Webby Trait 1) [% death],
The chosen SNP is: rs13476293

## Q1: simple linear regression model - without heterozygous
#### formalize the model assumptions
#### and calculate P-value scores for the chosen SNP: ```rs13476293```

#### Filtering the data
##### Genotypes

In [21]:
# Define the row label you want to filter
gen_row = ['rs13476293']

# Use .loc to filter the DataFrame by row
filtered_gen = gen.loc[gen['Locus'].isin(gen_row)]

# Filter columns based on their names
filtered_gen = filtered_gen.filter(like='BXD')

##### Phenotypes

In [26]:
# Define the row label you want to filter - filter by index 787
# phen_row = 780

# # Use .loc to filter the DataFrame by row
# filtered_phen = phen.loc[phen['index'].isin(phen_row)]
# 
# # Filter columns based on their names
# filtered_phen = filtered_phen.filter(like='BXD')

np.float64(780.0)